body{
	/*background-image es para imagen de fondo de la pagina*/
	background-image:url("../imagenes/fondo1.jpg");
	/*font-family es para tipografia de la letra*/
	fot-family:"Tahoma","Lucida console","Courier New";
	color:black;
	font-size:40px;
	text-align:center;
}
hr{
	/*border es para la linea
	grosor en pixeles,tipo de linea,color*/
	border:3px solid black;
	width:80%;
	border-radius:5px;
}
p´{
	text-align:justify;
	font-size:20px;
	font-weight:bold;
	line-height:1.5;
	letter-spacing:2px;
}
table,tr,td{
	border:1px solid #0B3197;
	border-spacing:0px;
	background-color:#33c1ff;
	font-size:20px;
	text-align:center;
}
/*Clases*/
.pie{
	text-align:center;
	font-size:20px;
	color:#1C1B1B;
	font-weight:bold;
}
.encabezado{
	text-align:center;
	font-size:35px;
	font-weight:bold;
}
/*Divs*/
div#top{
	width:100%;
	height:75px;
	background-image:linear-gradient(#167989,#78C4D0);
	font-family:lion;
	/*
	background-image:radial-gradient(#167989,#78C4D0);
	*/
	/*
	background-image:conic-gradient(#167989,#78C4D0);
	*/
}
div#ppag{
	width:100%;
	height:100px;
	background-image:linear-gradient(#167989,#78C4D0);
}
/*carrousel para imagenes*/
.carrousel{
	width:600px;
	margin:auto;
	box-sizing:border-box;
}
.contecarrousel{
	width:100%;
	height:400px;
	overflow:hidden;
	box-sizing:border-box;
}
.itemcarrousel{
	position:relative;
	width:100%;
	height:100%;
	box-sizing:border-box;
}
.itemcarrouseltarjeta{
	width:100%;
	height:100%;
	box-sizing:border-box;
}
.itemcarrouselarrows{
	position:absolute;
	top:0;
	bottom:0;
	left:0;
	right:0;
	height:100%;
	width:100%;
	display:flex;
	align-items:center;
	justify-content:space-between;
	padding:20px;
	box-sizing:border-box;
}
.itemcarrouselarrows> i:hover{
	cursor:pointer;
}
.contecarrouselcontroller{
	width:100%;
	display:flex;
	justify-content:space-evenly;
}
.contecarrouselcontroller>a{
	text-decoration:none;
	font-size:32px;
	color:grey;
}
.itemcarrouselarrows> a> i{
	color:white;
}
/*cajas para productos*/
.caja{
	height:300px;
	width:250px;
	background:#CFE6EA;
	border:1px solid #eee;
	margin:5px;
	text-align:center;
	display:inline-block;
}
.caja:hover{
box-shadow:0 0 10px blue;
transform:scale(1.3);
}
.caja-texto{
	padding-top:5px;
	padding-bottom:5px;
	font-size:20px;
	color:back;
	font-weight:bold;
}
.texto-adicional{
	padding-top:5px;
	font-size:15px;
}
.cajas{
	
	width:600px;
	background:#8CD6DF;
	border:1px solid #8CD6DF;
	margin:5px;
	text-align:center;
	display:inline-block;
	font-size:20px;
}
/*menu de navegacion*/
.navegacion{
	display:flex;
	heihgt:100;
}
.navegacion-item{
	flex:1;
	color:#fff;
	font-weight:bold;
	font-size:25px;
	display:flextramsition: flex-grow 0.2s;
	justify-content:center;
	align-items:center;
}
.navegacion-item:hover{
	flex-grow:10;

}
.navegacion-titulo{
	margin:0;
	transform:rotate(-90deg);
	transition:ytansform 0.2s 0.2s;
	font-size:15px;
	color:blue;
	
}
.navegacion-item:hover.navegacion-titulo{
	transform:rotate(0);
}
.navegacion-item:nth-child(1){
	background:#6BD0DE;
}
.navegacion-item:nth-child(2){
	background:#529FAA;

}
.navegacion-item:nth-child(3){
	background:#529FAA;
}
.navegacion-item:nth-child(4){
	background:#3D737A;
	}
	.caja{
		height:460px;
		width:580;
		background:#eee;
		border:1px solid 3black;
		margin:5px;
		text-align:center;
		display:inline-block;
	}
	.contenedor{
		display:flex;
		align-items:center;
		width:100%;
		background:#99DBF1;
	}
	.izquierda{
		flex:1;
	}
	.izquierda img{
		display:100%;
		height:auto;
		padding-left:150px;
	}
	.derecha{
		background:black;
		flex:1;
	}
/*Tipografias o fuentes*/

@font-face{
	font-family:lion;
	src:url(../fuentes/lion_king.ttf)
}























































































